{% extends "layout.html" %}

{% block title %}Registration{% endblock %}

{% block main %}

<form action="{{ url_for('auth.registration') }}" method="POST" class="auth-form">
    <p><label for="username" class="auth-label">Username</label>
    <input id="username" type="text" name="username" class="auth-input"></p>

    <p><label for="password" class="auth-label">Password</label>
    <input id="password" type="password" name="password" class="auth-input"></p>

    <p><label for="password-confirm" class="auth-label">Confirm Password</label>
    <input id="password-confirm" type="password" name="password-confirm" class="auth-input"></p>

    <button type="submit" class="todo-button">Sign Up</button>
</form>

{% endblock %}