{% if g.user %}
    <div class="menu">
        <div class="dropdown-container">
            <button class="dropdown-button">
                {% if user.avatar %}
                    <img src="{{  url_for('calendar.get_upload', filename=user.avatar)  }}" alt="" class="avatar">
                {% else %}
                    {{ g.user['username'] }}
                {%  endif %}
            </button>
            <div class="dropdown-content">
                <a href="{{ url_for('auth.profile') }}" class="dropdown-link">{{ g.user['username'] }}</a>
                <a href="{{ url_for('calendar.all_todos') }}" class="dropdown-link">all deals</a>
                <a href="{{ url_for('calendar.index') }}" class="dropdown-link">on main</a>
                <form action="{{ url_for('auth.logout') }}" method="POST" class="dropdown-button">
                    <button type="submit">Выход</button>
                </form>
            </div>
        </div>
    </div>
{% else %}

    <div class="">
        <a href="{{ url_for('auth.registration') }}" class="button">Регистрация</a>
        <a href="{{ url_for('auth.login') }}" class="button">Вход</a>
    </div>

{% endif %}
